*{
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}

:root{
    /* color theme   */
    /* background latte theme */
    --background-l1: #F9F8F6;
    --background-l2:#EFE9E3 ;
    --background-l3: #D9CFC7 ;
    --background-l4: #C9B59C ;
    
    /* text color */
    --text-dark-l1:#3C2A21; 
    --text-dark-l2: #1A120B;
    --text-light-l1:#D8D9DA;
    --text-light-l2: #61677A;

    /* font sizes */
    --Card-s1: 1.5rem;
    --Card-s2: 1rem;
    --Small-Card-s1: 1rem;
    --Small-Card-s2: 0.5rem;
    
    /* fonts */
    --roboto:"Roboto",sans-serif;
    --montserrat:"Montserrat",sans-serif;
    --lora:"Lora",serif;

    interpolate-size: allow-keywords;
}
/* header section */
div.fixed-container{
    position: fixed;
    width: 100%;
    height: auto;
}

.fixed-panel-container{
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: -1;
}

header{
    height: 4rem;
    padding: 0rem;
    background-color: var(--background-l2);
    border: 1px solid var(--background-l3);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo{
    flex:1;
    text-align: center;
    max-width: 200px;
    font-family: var(--montserrat);
    font-size: 1.5rem;
}
/* Semiboold logo */
span.semi{
    font-weight: 600;
}

span.bold{
    font-weight: 800;
}

div.search-bar{
    flex:1;
    text-align: center;
}

div.icons{
    flex:2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 300px;
}

div.icon{
    /* text-align: center; */
}

/* Main content section */

main.main-container{
    /* background-color: aqua; */
    display: flex;
    height: 100%;
}

/* Left side main navigational panel */
.side-panel{
    background-color: var(--background-l2);
    border: 1px solid var(--background-l3);
    flex:2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 4rem;
    height: 100%;
}

/* panel buttons */
.panel-buttons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-l2);
    border-left: 5px solid var(--background-l4) ;
    margin-left: 5px;
    font-family: var(--roboto);
}

.panel-buttons>img{
    height: 1.5rem;
    margin-left: 1rem ;
}
/* cneter section of the main content */
.main-content{
    background-color: var(--background-l1);
    flex: 7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* box-sizing: border-box;
    padding: 0% 5%; */
    margin-top: 4rem;
    margin-left: 200px;
}
/* card */
.card-container{
    width: 70%;
    margin: 2rem auto;
}
.card{
    /* background-color: var(--background-l2); */
    /* border-top: 1px solid var(--background-l3); */
    border-bottom: 1px solid var(--background-l3);
    /* margin: 2% 0%; */
    padding: 1rem;
    display: flex;
    
}
.card-content-container{
    flex: 3;
    /* background-color: var(--background-l4); */
    display: flex;
    flex-direction: column;
}

.pfp-name-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.pfp{
    /* border-radius: 50%;s */
    width: 1.5rem;
    /* background-color: var(--background-l4); */
}

.pfp-name{
    font-family: var(--roboto);
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    font-size: var(--Card-s2);
}

.card-title{
    font-family: var(--montserrat);
    font-size: var(--Card-s1);
    font-weight: 800;
    margin: 0rem 0rem 0.5rem 1rem;
}

.card-subtitle{
    font-family: var(--montserrat);
    font-size: var(--Card-s2);
    margin: 0rem 0rem 0.5rem 1rem;
}

.card-buttons-container{
    display: flex;
}

.left, .right{
    display: flex;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}

.left{
    justify-content: start;
}

.right{
    justify-content: right;
}

.card-button>img{
    width: 1.5rem;
    height: auto;
}

.card-image {
    flex: 1;
    /* background-color: var(--background-l4); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    object-fit:contain;
}

.card-image>img{
    height: 50%;
}
/* right side recommendation panel for the smaller cards */
.recommendation-panel{
    background-color: var(--background-l2);
    border: 1px solid var(--background-l3);
    flex: 3;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding-top: 3rem;
    margin-top: 4rem;
}

/* smaller card */

.small-card{
    background-color: var(--background-l1);
    border-bottom: 1px solid var(--background-l3);
    /* border-bottom: 1px solid var(--background-l4); */
}

.small-card-title {
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: 800;
    margin: 0rem 0rem 0.5rem 1rem;
}

.small-card-button>img{
    width: 1.5rem;
    margin: 0rem 1rem;
}


/* Footer section */
.footer-fixed-parent{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer{
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-l2);
    background-color: var(--background-l2);
    z-index: 2;
    border-top: 1px solid var(--background-l3);
    visibility: collapse;
}

/* article reading section */

.article-container{
    padding: 6rem 2rem 1rem 15rem;
    min-height: 100vh;
}

.article{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* border: #1A120B 1px solid; */
    margin: auto;
    padding: 5rem 2rem;
}

.article-heading{
    font-family: var(--montserrat);
    font-size: 2.5rem;
    font-weight: 800;
    padding: 1rem 0rem;
}

.article-subheading{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0rem;
    color: var(--text-light-l2);
}

/* .article-image{
    display: flex;
    justify-content: center;
} */
.article-image>img{
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.image-contract{
    height: 300px;
    transition: height 400ms ease-in;
}

.image-expand{
    transition: height 400ms ease-in;
}

.article-name-etc>.pfp-name-container{
    margin: 0px;
}

.article-buttons-section{
    border-top: 1px solid var(--background-l2);
    border-bottom: 1px solid var(--background-l2);
    margin: 1rem 0rem;
}
.article-buttons-section>.card-buttons-container>*{
    padding: 0px;
    margin: 1rem 0rem;
}

/* text paragraph content */
p.article-paragraph-normal{
    font-family: var(--lora);
    font-weight: normal;
    font-size: 1.3rem;
    padding: 1.3rem 0rem;
}

p.article-paragraph-bold {
    font-family: var(--lora);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1.3rem 0rem;
}

/* Writing section */
.writing-section{
    width: 80%;
    height: 100vh;
    margin: auto;
    /* background-color: #1A120B; */
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.writing-section>form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.writing-section>form>div> input.heading{
    height: 5rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: var(--text-dark-l2);
    font-family: var(--lora);
    font-size: 3rem;
    font-weight: 600;
    border-left: 1px solid var(--text-light-l1);
    
}
.writing-section>form>div>input.heading:visited:focus{
    border-left: 1px solid var(--text-light-l1);
    color: var(--text-dark-l2);
}
.writing-section>form>div>input.subheading {
    height: 2rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: var(--text-light-l2);
    font-family: var(--lora);
    font-size: 1.8rem;
    font-weight: 600;
    border-left: 1px solid var(--text-light-l1);

}

.writing-section>form>div>input.subheading:visited:focus {
    border-left: 1px solid var(--text-light-l1);
    color: var(--text-dark-l2);
}

.writing-section>form>div>input.content {
    height: 1.5rem;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    color: var(--text-dark-l2);
    font-family: var(--lora);
    font-size: 1.5rem;
    font-weight: 500;
    border-left: 1px solid var(--text-light-l1);

}

.writing-section>form>div>input.content:visited:focus {
    border-left: 1px solid var(--text-light-l1);
    color: var(--text-dark-l2);
}

/* for the file selection */

input[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
}

div.image-picker-container{
    display: flex;
    flex-direction: row;
}

label[for="file"] {
    background: var(--background-l3);
    border: 5px dashed var(--text-dark-l1);
    border-radius: 2rem;
    text-align: center;
    padding: 5rem;
    font-family: var(--roboto);
    font-size: large;
    font-weight: 800;
    color: var(--text-dark-l1);
    /* line-height: 1.5; */
}

label[for="file"]:hover {
    background: var(--background-l4);
}

label[for="file"]:active {
    opacity: 80%;
}

div.image-picker-container{
    width: 100%;
}
/* for little notch */
.writing-section>form>div>span.image-picker-button{
    border-radius: 50%;
    padding: 0.5rem 0.75rem;
    margin-right: 1rem;
    border: 1px solid var(--text-dark-l2);
    /* width: 1rem;
    height: 1rem; */
    visibility: visible;
}

.writing-section>form>div>span.image-picker-button{
    visibility: hidden;
}


/* submit button */
div.submit-button{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
input[type="submit"]{
    padding: 1rem 2rem;
    font-family: var(--montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--background-l4);
    color: var(--background-l1);
    border-radius: 1rem;
    border: none;
}